

.search{
   
    width:100%;
    display:flex;
    align-items: center;
     border:2px solid #70e6f3;
   border-radius:10px ;
   overflow:hidden;
}

.input{
    flex:1;
    border:none;
    font-size:16px;
    outline:none;
    padding: 10px;
     height:30px
}

.searchicon{
    margin-right: 10px;
}